body{
    font-family: 'Merriweather', serif;
}

div .menu-overhall:hover{
    color: black;
}
div .menu-herois:hover{
    color: black;
}

div .menu-addHeroi:hover{
    color: black;
}

.titulo{
    font-size: 50px;
}

label{
    color: black;
}

.nav-link:focus{
    text-decoration: underline;
}

#root{
    margin-top: 7%;
}

a {
    background-color: white !important;
    color: gray !important;
    text-align: center;
}

.navbar .nav-item > .nav-link.active  {
    color:white;
}

input[type=text] {
    width: 188px;
    height: 30px;
    font-family: serif;
}
/* webkit solution */
::-webkit-input-placeholder { 
    font-family: FontAwesome;
    text-align:left; 
}
/* mozilla solution */
input:-moz-placeholder { 
    font-family: FontAwesome;
    text-align:left; 
}

.progress{
    
    float: left !important;
    background: none;
    height: 50px;
}
.progress-bar{
    float: left !important;
    vertical-align: bottom !important;
    background: none;
}