.card-herois{
    height: 100px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 10px;
    padding-top:10%; 
    padding-left:4%; 
}
.row{
    margin-left: 10px !important;
}
.name{
    margin-top:5%;
    margin-left: 30%;
    font-weight:  bold;
}

.profissao{
    margin-top:3%;
    margin-left: 30%;
}

.nav-item > .nav-link.active  {
    color:black !important;
}