.foo{
    padding: 2%;
}
.card-overhall{
    background-color: #dcdcdc;
    margin-left: 1%;
    width: 98%;
    height: 200px;
    border-radius: 10px;
} 

.experiencia{
    border-left: red solid; 
    height: 40px !important; 
    width:100px !important;
    padding-top: 10px;
    border-bottom-right-radius:2px;
    border-top-right-radius:3px;
    text-align: left; 
    background-color:#00ff00;
    color: black;
}

div.foo ul.modded li{
    list-style-type: none;
    position:relative;
    margin-bottom:0.5em;
    margin-left: -14%;
}

div.foo ul.modded li.modified:before {
    content: '•';
    display: inline-block;
    position: absolute;
    left: -1em;
    color:#00ff00;
}

.card-overhall{
    background-color: #dcdcdc;
    margin-left: 1%;
    width: 98%;
    height: 200px;
    border-radius: 10px;
} 

.experiencia{
    border-left: red solid; 
    height: 25px; 
    width:50px; 
    text-align: center; 
    background-color:#00ff00;
}
