.card-missoes{
    width:100%;
    padding-top: 5%;
    margin-left: auto;
    margin-right: 0;
}

.dropdown-toggle{
    color: white !important;
    border-color: white !important;
}

.dropdown-item{
    size:12px !important;
}

.andamento{
    background-color: #87CEFA;
    margin-right: 2%;
    border-radius: 10px;
    padding: 2%;
    margin-left: -2%;
}

.concluida{
    background-color:#98FB98 ;
    margin-right: 2%;
    border-radius: 10px;
    padding: 2%;
    margin-left: -2%;
}

.antecipada{
    background-color: #D02090 ;
    margin-right: 2%;
    border-radius: 10px;
    padding: 2%;
    margin-left: -2%;
}

.atrasada{
    background-color: #EEDD82 ;
    margin-right: 2%;
    border-radius: 10px;
    padding: 2%;
    margin-left: -2%;
}