<div class='wrapper '>
    <div class='sidebar' data-color='purple' data-background-color='white'>
        <div class="logo">
          <center>    <img src="img/t10.png" alt=""/> </center>
        </div>
        <div class='sidebar-wrapper'>
        <ul class='nav'>
          <li class='nav-item'>
            <a class='nav-link' href='#'>  
              <span class='glyphicon glyphicon-user'></span> Heróis
            </a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='#'>  
              <span class='glyphicon glyphicon-question-sign'></span> Quests
            </a>
          </li>
        </ul>
      </div>
    </div>
    <br>
    <div class='main-panel'>    
      <div class='navbar-wrapper'>
        <label class='titulo'> Heróis</label>
      </div>
  
      <nav class='navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top '>
        <br><br><br><br><br><br><br><br>
        <div class='container-fluid'>
          <button class='navbar-toggler' type='button' data-toggle='collapse' aria-controls='navigation-index' aria-expanded='false' aria-label='Toggle navigation'>
          </button>
          <div class='collapse navbar-collapse menu' >
            <ul class='navbar-nav'>
              <li class='nav-item menu-overhall'>
                <a class='nav-link' href='#'> Overhall
                </a>
              </li>
              <li class='nav-item menu-herois'>
                <a class='nav-link' href='#'>
                  <i class='material-icons'></i> Adicionar Quest
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      